.ticket-Container{
    margin-top: 20px;
    width: 100%;
    height: auto;
    
}
.ticket {
   border-top-right-radius: 20px;
   border-top-left-radius: 20px;
    border: 1px solid #dfd9d9;
    /* border-radius: 8px; */
    position: relative;
     padding: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    color: #333;
    max-width: 80%;
    margin: auto;
    overflow: hidden; /* Ensure the cutouts don't show a border */
  }
  
  /* .dot {
    height: 55px;
    width: 55px;
    background-color: rgb(255, 255, 255);
    
    border-radius: 50%;
    display: inline-block;
    position: relative; 
   
  } */


  
  .semi-circle {
    width: 35px;
    height: 55px;
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 0 5rem 5rem 0;
    border: 1px solid #dfd9d9;
    border-top: 1px solid #dfd9d9;
    border-bottom: 1px solid #dfd9d9;
    border-left: 0px;
    box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.719);
  /* Adjust values as needed */
  }
  .semi-circle-reverse {
    width: 35px;
    height: 55px;
    background-color: rgba(255, 255, 255, 0.801);
    border-top: 1px solid #dfd9d9;
    border-bottom: 1px solid #dfd9d9;
    border-left: 0px;
    border-radius: 5rem 0 0 5rem;
    box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.719);
    
  }
  
  
  .dashComponent{
    border: 1px dashed rgba(44, 43, 43, 0.658);
    display: flex;
    width: 100%;
    height: 1px;
    
    
  }
  .Space-Container{
    height:7dvh;
    width: 100%;
  }

  .cut-out{
    display: flex;
    left: 0;
    width: 100%;
    position: absolute;
    justify-content: space-between; 
    align-items: center;
   /* position: absolute; */
   /* top: 20dvh; */
   /* width: 41.3dvh; */
  /* left: 5.3dvh; */
 
    /* display: flex;
   
    justify-content: space-between; */
  }
 
  
  
  .ticket-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .ticket-location {
    text-align: left;
  }
  
  .ticket-location span {
    display: block;
  }
  
  .ticket-status {
    text-align: center;
    font-weight: bold;
    color: #4CAF50; /* A green color similar to completed status */
    margin: 0 20px;
    flex-grow: 1;
  }
  
  .ticket-service {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    flex-basis: 100%;
    margin-bottom: 8px;
  }
  
  .ticket-seat {
    font-size: 16px;
    text-align: left;
    flex-basis: 100%;
  }
  
  .ticket-details-button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
  }